@import 'tailwindcss';
@config "../../tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-fade-in-down: fadeInDown 1s ease-out;
    --animate-fade-in-up: fadeInUp 1s ease-out;
    --animate-bounce: bounce 1s infinite;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer components {
    .bg-linear-to-br {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    }
}

.animate-fade-in-down {
    animation: fadeInDown 1s ease-out;
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out;
}

.animation-delay-300 {
    animation-delay: 0.3s;
}

.animation-delay-450 {
    animation-delay: 0.45s;
}

.animation-delay-600 {
    animation-delay: 0.6s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
